@model List<ProjectDatabases.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

<h1>@ViewData["Title"]</h1>
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr class="bg-primary text-light">
                <th>Room Number</th>
                <th>Capacity</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var room in Model)
                {
                    <tr title="@room.RoomNumber">
                        <td>@room.RoomNumber</td>
                        <td>@room.Capacity</td>
                        <td>@room.Type</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="/Rooms/Edit/@room.RoomID" class="btn btn-outline-warning">Edit</a>
                                <a href="/Rooms/Delete/@room.RoomID" class="btn btn-outline-danger">Delete</a>
                                @if (room.Type == "student")
                                {
                                    <a href="/Rooms/DormitoryStudents/@room.RoomID" class="btn btn-outline-primary">Manage Dormitory</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row justify-content-center">
    <a href="/Rooms/Create" class="btn btn-lg btn-primary col-md-auto">Add new room</a>
</div>